{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "simple-import-sort",
        "import"
    ],
    "parserOptions": {
        "project": "tsconfig.eslint.json"
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "standard-with-typescript",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "simple-import-sort/imports": "error",
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error"
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "@typescript-eslint/no-unsafe-assignment": "off",
                "@typescript-eslint/no-unsafe-argument": "off"
            }
        }
    ]
  }
